@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "アカウントのロックアウト";
}

<div class="message error">
    無効なパスワードでのログインが何度も試行されたため、アカウントがロックアウトされました。
</div>
<p>
    アカウントは 60 秒後に自動的にロック解除されます。
    60 秒経過したら再試行してください。
</p>