@{
    // レイアウト ページとページ タイトルを設定します
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "ご登録ありがとうございます";
}

@if (!WebSecurity.IsAuthenticated) {
    <h2>しかし、まだ完了していません。</h2>
    <p>
       間もなくアカウントを有効にする方法が記載された電子メールが
       届きます。
    </p>
} else {
    <h2>これで終わりです。</h2>
    <p>
        アカウントの確認は既に完了していて
        準備は整っているようです。
    </p>
}