@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "マイ サイトについて";
}
<p>
    この Web ページは ASP.NET Web ページを使用して作成されました。詳細については、
    <a href="http://www.asp.net">ASP.NET ホームページ</a>を参照してください。
</p>